@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
}
.body {
  width: 1440px;
  height: 6940px;
  background: #fff;
}
.company {
  display: flex;
}
.logo {
  width: 48px;
  height: 56.008px;
  flex-shrink: 0;
  margin-left: 135px;
  margin-top: 50px;
}
.name {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-left: 30px;
  margin-top: 35px;
}
.name span {
  color: #ff5400;
}
.element ul {
  display: inline-flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 44px;

  margin-top: 55px;
  margin-left: 320px;
}
.element ul li {
  list-style: none;
  color: var(--Dark-02, #424247);
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
li span {
  color: #ff5400;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav {
  display: flex;
}

.banner {
  width: 1170px;
  height: 500px;
  flex-shrink: 0;
  background-image: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  border-radius: 16px;
  margin-left: 135px;
  margin-top: 40px;
}
.banner-container {
  width: 1170px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(46, 46, 58, 0) 100%
  );
}
.banner-container h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 287px;
  padding-top: 100px;
}
.banner-container p {
  width: 676px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 247px;
  margin-top: 30px;
}
.banner-container .banner-button {
  width: 800px;
  height: 74px;
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 185px;
  margin-top: 50px;
}
.box {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  margin-left: 16px;
  margin-top: 12px;
}
.box h6 {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 70px;
  margin-top: 16px;
}
.box1 {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  display: inline-flex;
  border-radius: 8px;
  background: #fff;
  margin-left: 16px;
  margin-top: 12px;
}
.box1 h6 {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
  margin-top: 16px;
}
.box1 svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 65px;
  margin-top: 15px;
}
.box2 {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  display: inline-flex;
  border-radius: 8px;
  background: #fff;
  margin-left: 10px;
  margin-top: 12px;
}
.box2 h6 {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 15px;
  margin-top: 16px;
}
.box2 svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 40px;
  margin-top: 15px;
}
.box3 {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  display: inline-flex;
  border-radius: 8px;
  background: #ff5400;
  margin-left: 10px;
  margin-top: 12px;
}
.box3 h6 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 15px;
  margin-top: 16px;
}
.box3 svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 40px;
  margin-top: 15px;
}
.middle {
  display: inline-flex;
}
.text {
  height: 330px;
  width: 407px;
  margin-left: 100px;
  margin-top: 70px;
}
.text h2 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.text p {
  width: 577px;
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 40px;
  margin-top: 15px;
}
.text ul {
  width: 525px;
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 162.5% */
  margin-left: 70px;
  margin-top: 20px;
}
.text .box4 {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  margin-left: 40px;
  margin-top: 40px;
}
.box4 h6 {
  width: 105px;
  height: 25px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 35px;
  padding-top: 13px;
}
.middle-image img {
  width: 510px;
  height: 520px;
  flex-shrink: 0;
  border-radius: 16px;
  margin-left: 285px;
  margin-top: 80px;
}
.middle-below h2 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 35px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  margin-top: 80px;
}
.middle-below p {
  width: 643px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 24px;
  margin-left: 410px;
}
.images {
  margin-left: 135px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: -250px;
}
.image1 {
  width: 573px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle\ 5.png"), lightgray 50% / cover no-repeat;
}
.image1 h2 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 130px;
  margin-left: -20px;
}
.image2 {
  width: 573px;
  height: 300px;
  flex-shrink: 0;
  fill: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );

  background: url("./Images/Rectangle\ 8.png"),
    lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
  margin-left: -55px;
}
.image2 h2 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 130px;
  margin-left: -20px;
}
.images1 {
  margin-left: 135px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: -260px;
}
.image3 {
  width: 374px;
  height: 286px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle\ 6.png"), lightgray 50% / cover no-repeat;
}
.image3 h2 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 130px;
  margin-left: -20px;
}
.image4 {
  width: 474px;
  height: 286px;
  flex-shrink: 0;
  margin-left: -35px;
  padding-right: -20px;
  fill: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );

  background: url("./Images/Rectangle\ 7.png"),
    lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
}
.image4 h2 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 130px;
  margin-left: -20px;
}
.image5 {
  width: 274px;
  height: 286px;
  flex-shrink: 0;
  margin-left: 27px;
  fill: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );
  background: url("./Images/Rectangle\ 9.png"),
    lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
}
.image5 h2 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 130px;
  margin-left: -20px;
}
.images2 {
  margin-left: 135px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: -260px;
}
.image6 {
  width: 473px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle\ 11.png"), lightgray 50% / cover no-repeat;
}
.image6 h2 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 130px;
  margin-left: -20px;
}
.image7 {
  width: 673px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle\ 10.png"), lightgray 50% / cover no-repeat;
  margin-left: -150px;
}
.image7 h2 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 130px;
  margin-left: -20px;
}
.middle-down h2 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800px;
  line-height: normal;
  margin-top: 120px;
}
.middle-down p {
  width: 643px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 410px;
  margin-top: 25px;
}
.imag {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 135px;
  margin-top: 50px;
}
.im1 {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.im1 img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  margin-left: 32px;
  margin-top: 32px;
}
.im1 h5 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 32px;
  margin-top: 32px;
}
.im1 p {
  width: 486px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 32px;
  margin-top: 16px;
}
.im2 {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  margin-left: -55px;
}
.im2 img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  margin-left: 32px;
  margin-top: 32px;
}
.im2 h5 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 32px;
  margin-top: 32px;
}
.im2 p {
  width: 486px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 32px;
  margin-top: 16px;
}
.im3 {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  margin-left: 425px;
  margin-top: 20px;
}
.im3 img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  margin-left: 32px;
  margin-top: 32px;
}
.im3 h5 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 32px;
  margin-top: 32px;
}
.im3 p {
  width: 486px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 32px;
  margin-top: 16px;
}
.down h2 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 100px;
}
.down p {
  width: 643px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 398px;
  margin-top: 24px;
}
.venue {
  margin-left: 135px;
  margin-top: 48px;
  display: grid;
  gap: 24px;
}
.venue1 {
  width: 1170px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url("./Images/Group\ 39.png"), lightgray 50% / cover no-repeat;
}
.under {
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  margin-left: 535px;
  position: relative;
  top: 56px;
}
.under1 {
  display: inline-flex;
}
.under1 img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 50px;
  margin-top: 50px;
}
.under1 h6 {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 52px;
  margin-left: 8px;
}
.under h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 50px;
  margin-top: 26px;
}
.venue1 .under p {
  width: 452px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 50px;
  margin-top: 16px;
}
.under h4 {
  color: #ff5400;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 50px;
  margin-top: 16px;
}
.under button {
  width: 150px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  margin-left: 50px;
  margin-top: 24px;
  border: none;
}
button h5 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.venue2 {
  width: 1170px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url("./Images/Group\ 40.png"), lightgray 50% / cover no-repeat;
}
.under-below {
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  margin-left: 56px;
  position: relative;
  top: 56px;
}
.under1 {
  display: inline-flex;
}
.under1 img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 50px;
  margin-top: 50px;
}
.under1 h6 {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 52px;
  margin-left: 8px;
}
.under-below h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 50px;
  margin-top: 26px;
}
.venue2 .under-below p {
  width: 452px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 50px;
  margin-top: 16px;
}
.under-below h4 {
  color: #ff5400;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 50px;
  margin-top: 16px;
}
.under-below button {
  width: 150px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  margin-left: 50px;
  margin-top: 24px;
  border: none;
}
.under button h5 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.see button {
  width: 210px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  margin-left: 620px;
  margin-top: 48px;
  border: none;
}

.see button h5 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.watch {
  display: inline-flex;
}
.watch-text {
  margin-left: 135px;
  margin-top: 100px;
}
.watch-text h2 {
  width: 448px;
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 150% */
}
.watch-text p {
  width: 532px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 24px;
}
.watch-text ul {
  width: 518px;
  color: solid black#131318;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px; /* 162.5% */
  margin-top: 24px;
  margin-left: 30px;
}
.watch-text button {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  margin-top: 46px;
  border: none;
}
.watch-text button h4 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.watch-pic {
  width: 610px;
  height: 424px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url("./Images/Group\ 40089.png"),
    linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0) 100%);
  margin-top: 100px;
  margin-left: 10px;
}
.watch-pic h3 {
  width: 276px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  margin-left: 167px;
  padding-top: 176px;
}
.watch-below {
  display: inline-flex;
}
.below-text {
  width: 474px;
  height: 422px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #ff5400;
  margin-left: 135px;
  margin-top: 100px;
}
.below-text h4 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 40px;
  margin-top: 40px;
}
.below-text p {
  width: 350px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 40px;
  margin-top: 16px;
}
.below-text input {
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  padding-left: 10px;
  margin-left: 40px;
}
.below-text button {
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  margin-left: 40px;
  margin-top: 24px;
}
.below-text button h6 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.below-pic {
  width: 672px;
  height: 422px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url("./Images/Rectangle\ 8\ \(1\).png"),
    lightgray 50% / cover no-repeat;
  margin-top: 100px;
  margin-left: 24px;
}
.pic-text {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  border-radius: 16px;
  background: #ff5400;
  margin-left: 340px;
  margin-top: 252px;
}
.pic-text h6 {
  width: 119px;
  height: 30px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 90px;
  padding-top: 30px;
}
.pic-text h5 {
  color: #fff;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 35px;
}
.footer {
  width: 1440px;
  height: 502px;
  flex-shrink: 0;
  background: rgba(197, 13, 244, 0.05);
  margin-top: 100px;
}
.footer-text {
  display: inline-flex;
}
.fo-logo {
  width: 48px;
  height: 56.008px;
  flex-shrink: 0;
  margin-left: -30px;
  margin-top: 80px;
}
.fo-name {
  color: #131318;
  font-family: Mulish;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-left: 650px;
  margin-top: 110px;
}
.fo-name span {
  color: #ff5400;
}
.footer p {
  width: 769px;
  color: #5a5a5d;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 335px;
  margin-top: 15px;
}
.footer img {
  margin-left: 633px;
  margin-top: 32px;
}
.footer h5 {
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 624px;
  margin-top: 100px;
}
